body {
  background-color: #afafae;
  margin-left: 33%;
  padding-top: 10%;
}

#musicbutton {
  background-image: url("res/musicButton.png");
  background-size: 332px 515px;
  height: 515px;
  width: 332px;
  border: none;
  display: inline-block;
  padding: 0;
  vertical-align: baseline;
}

#musicbutton:hover {
  background-image: url("res/musicButtonHover.png");
}

#musicbutton:enabled{
  background-image: url("res/musicButtonHover.png");
}

#softwarebutton {
  background-image: url("res/softwareButton.png");
  background-size: 332px 515px;
  height: 515px;
  width: 332px;
  border: none;
  display: inline-block;
  padding: 0;
  vertical-align: baseline;
}

#softwarebutton:hover {
  background-image: url("res/softwareButtonHover.png");
}
#softwarebutton:enabled {
  background-image: url("res/softwareButtonHover.png");
}
